[xin_0]
file={{ .chezmoi.homeDir }}/pictures/wallpapers/catppuccin/cat_pacman_dark.png
mode=5
bgcolor=#000000

[xin_1]
file={{ .chezmoi.homeDir }}/pictures/wallpapers/catppuccin/cat_pacman_dark.png
mode=5
bgcolor=#000000
