[xin_0]
file={{ .chezmoi.homeDir }}/pictures/wallpapers/starwars/remy_loz-EtASwnZ8Gzg-unsplash.jpg
mode=5
bgcolor=#000000

[xin_1]
file={{ .chezmoi.homeDir }}/pictures/wallpapers/starwars/remy_loz-EtASwnZ8Gzg-unsplash.jpg
mode=5
bgcolor=#000000
