set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @resurrect-dir '~/.local/share/tmux/resurrect'
set -g @resurrect-strategy-nvim 'session'
set -g @resurrect-processes 'gotop ssh ~tsc'

set -g @plugin 'tmux-plugins/tmux-yank'
set -g @yank_selection_mouse 'clipboard'

set -g @plugin 'tmux-plugins/tmux-sessionist'

unbind C-b
set -g prefix C-a
unbind C-a
bind C-a send-prefix

set -g base-index 1
setw -g pane-base-index 1

set -g set-titles on
set -g set-titles-string "#T"

set -g bell-action none
set -g status-style bg=default
set -g default-terminal "xterm-256color"
set -g focus-events on
set -g history-limit 50000
set -g mouse on
set -g renumber-windows on
set -g status-keys emacs
set -g visual-activity off
set -sg escape-time 10
set -g status-interval 15
set -g status-right "#(iwgetid -r)"
set -ga terminal-overrides ",xterm-256color:Tc"

setw -g aggressive-resize on
setw -g mode-keys vi
setw -g monitor-activity on

bind r source-file '{{ .chezmoi.homeDir }}/.config/tmux/tmux.conf' \; display "tmux.conf reloaded"

bind C-p previous-window
bind C-k next-window

bind v split-window -h -c "#{pane_current_path}"
bind s split-window -v -c "#{pane_current_path}"
bind h choose-session
bind C-h select-pane -L
bind C-n select-pane -D
bind C-e select-pane -U
bind C-i select-pane -R
bind o kill-pane -a

bind C-c command-prompt -p "Create window with name:" "new-window; rename-window '%%'"
bind C-y set-window-option synchronize-panes
bind b set-option -g status

unbind -T copy-mode-vi v
bind -T copy-mode-vi v send -X begin-selection
bind -T copy-mode-vi C-v send -X rectangle-toggle
bind -T copy-mode-vi y send -X copy-selection

bind -r i run-shell "tmux splitw -h cht"

run '/usr/share/tmux-plugin-manager/tpm'
