l {{ .chezmoi.homeDir }}/downloads
d {{ .chezmoi.homeDir }}/documents
v {{ .chezmoi.homeDir }}/development
r {{ .chezmoi.homeDir }}/repos
w {{ .chezmoi.homeDir }}/pictures/wallpapers
c {{ .chezmoi.homeDir }}/.config
